<!DOCTYPE html>
<html>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <select class="selectpicker" multiple data-live-search="true">
              <option value="Hillerød">
                  Hillerød
              </option>
              <option value="Allerød">
                  Allerød
              </option>
              <option value="Høvelte">
                  Høvelte
              </option>
              <option value="Birkerød">
                  Birkerød
              </option>
              <option value="Holte">
                  Holte
              </option>
              <option value="Virum">
                  Virum
              </option>
              <option value="Sorgenfri">
                  Sorgenfri
              </option>
              <option value="Lyngby">
                  Lyngby
              </option>
              <option value="Jærgersborg">
                  Jærgersborg
              </option>
              <option value="Gentofte">
                  Gentofte
              </option>
              <option value="Bernstorffsvej">
                  Bernstorffsvej
              </option>
              <option value="Køge">
                  Køge
              </option>
              <option value="Ølby">
                  Ølby
              </option>
              <option value="Køge Nord">
                  Køge Nord
              </option>
              <option value="Jersie">
                  Jersie
              </option>
              <option value="Solrød Strand">
                  Solrød Strand
              </option>
              <option value="Karlslunde">
                  Karlslunde
              </option>
              <option value="Greve">
                  Greve
              </option>
              <option value="Hundige">
                  Hundige
              </option>
              <option value="Ishøj">
                  Ishøj
              </option>
              <option value="Vallensbæk">
                  Vallensbæk
              </option>
              <option value="Friheden">
                  Friheden
              </option>
              <option value="Høje Taastrup">
                  Høje Taastrup
              </option>
              <option value="Taastrup">
                  Taastrup
              </option>
              <option value="Glostrup">
                  Glostrup
              </option>
              <option value="Dybbølsbro">
                  Dybbølsbro
              </option>
              <option value="Fuglebakken">
                  Fuglebakken
              </option>
              <option value="Østerport">
                  Østerport
              </option>
              <option value="Nordhavn">
                  Nordhavn
              </option>
              <option value="Svanemøllen">
                  Svanemøllen
              </option>
              <option value="Dyssegård">
                  Dyssegård
              </option>
              <option value="Ordrup">
                  Ordrup
              </option>
              <option value="Klampenborg">
                  Klampenborg
              </option>
              <option value="Buddinge">
                  Buddinge
              </option>
              <option value="Hareskov">
                  Hareskov
              </option>
              <option value="Skovbrynet">
                  Skovbrynet
              </option>
              <option value="Værløse">
                  Værløse
              </option>
              <option value="Frederikssund">
                  Frederikssund
              </option>
              <option value="Vinge">
                  Vinge
              </option>
              <option value="Ølstykke">
                  Ølstykke
              </option>
              <option value="Egedal">
                  Egedal
              </option>
              <option value="Stenløse">
                  Stenløse
              </option>
              <option value="Veksø">
                  Veksø
              </option>
              <option value="Kildedal">
                  Kildedal
              </option>
              <option value="Ballerup">
                  Ballerup
              </option>
              <option value="Malmparken">
                  Malmparken
              </option>
              <option value="Herlev">
                  Herlev
              </option>
              <option value="Husum">
                  Husum
              </option>
              <option value="Jyllingevej">
                  Jyllingevej
              </option>
              <option value="Brøndby Strand">
                  Brøndby Strand
              </option>
              <option value="Avedøre">
                  Avedøre
              </option>
              <option value="Albertslund">
                  Albertslund
              </option>
              <option value="Islev">
                  Islev
              </option>
              <option value="Måløv">
                  Måløv
              </option>
              <option value="Skovlunde">
                  Skovlunde
              </option>
              <option value="Vanløse">
                  Vanløse
              </option>
              <option value="Flintholm">
                  Flintholm'
              </option>
              <option value="KB Hallen">
                  KB Hallen
              </option>
              <option value="Peter Bangs Vej">
                  Peter Bangs Vej
              </option>
              <option value="Ålholm">
                  Ålholm
              </option>
              <option value="Danshøj">
                  Danshøj
              </option>
              <option value="Hvidovre">
                  Hvidovre
              </option>
              <option value="Vigerslev Alle">
                  Vigerslev Alle
              </option>
              <option value="Rødovre">
                  Rødovre
              </option>
              <option value="Åmarken">
                  Åmarken
              </option>
              <option value="Ny Ellebjerg">
                  Ny Ellebjerg
              </option>
              <option value="Sjælør">
                  Sjælør
              </option>
              <option value="Valby">
                  Valby
              </option>
              <option value="Carlsberg">
                  Carlsberg
              </option>
              <option value="Sydhavn">
                  Sydhavn
              </option>
              <option value="København H">
                  København H
              </option>
              <option value="Vesterport">
                  Vesterport
              </option>
              <option value="Nørreport">
                  Nørreport
              </option>
              <option value="Nørrebro">
                  Nørrebro
              </option>
              <option value="Ryparken">
                  Ryparken
              </option>
              <option value="Emdrup">
                  Emdrup
              </option>
              <option value="Hellerup">
                  Hellerup
              </option>
              <option value="Charlottenlund">
                  Charlottenlund
              </option>
              <option value="Vangede">
                  Vangede
              </option>
              <option value="Kildebakke">
                  Kildebakke
              </option>
              <option value="Stengården">
                  Stengården
              </option>
              <option value="Bagsværd">
                  Bagsværd
              </option>
              <option value="Grøndal">
                  Grøndal
              </option>
              <option value="Langgade">
                  Langgade
              </option>
              <option value="Farum">
                  Farum
              </option>
              <option value="Brøndbyøster">
                  Brøndbyøster
              </option>
              <option value="Bispebjerg">
                  Bispebjerg
              </option>
        </select>
    </body>

</html>